.game-card {
    height: 100vh;
    font-family: 'Open Sans', monospace;
}

.popup-container {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: rgba(170, 170, 170, 0.3);
    z-index: 2;
    display: flex;
    justify-content: center;
}

.popup-header {
    text-align: right;
    background-color: #777;
    color: white;
    font-weight: bold;
    padding: 4px 10px;
    border-radius: 4px;
    cursor: pointer;
}

.popup {
    position: absolute;
    z-index: 5;
    align-items: center;
    align-self: center;
    height: 300px;
    width: 500px;
    background-color: white;
    opacity: 1;
    
}

.input-group {
    display: flex;
    flex-direction: column;
    margin: 20px;
}

.input-group>.form-control:not(:last-child) {
    width: 300px;
    margin: 10px;
}

button.btn-outline-secondary {
    margin-top: 20px;
    background-color: #2040ce;
    color: white;
    font-weight: 500;
}
